<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles3.css">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form action="/form" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <input type="submit" value="Register">
    </form>
</body>
</html>
